<tmpl_var Full_name escape>
<tmpl_loop Lists>
  <tmpl_loop items>
    Head: <tmpl_var Hd>
    Link:
    <tmpl_if link>
      <a href="<tmpl_var item>/"><tmpl_var Item_Name></a>
      <tmpl_if new><img src="images/new.png" alt="[new]" width="20" height="12"></tmpl_if>
    </tmpl_if>
    File:
    <tmpl_if file>
      <tmpl_if file_url>
        <a href="<tmpl_var file_url>"><tmpl_var file_head></a>
      <tmpl_else>
        <tmpl_var file_head>
      </tmpl_if>
    </tmpl_if>
  </tmpl_loop>
</tmpl_loop>
